---
const { titulo, descripcion, slug, estado, imagen } = Astro.props;
---

<div class="card">
  {imagen && <img src={imagen} alt={titulo} class="project-image" />}

  <h2>{titulo}</h2>
  <p>{descripcion}</p>

  <p>
    <strong>Estado:</strong> {estado}
  </p>

  <a href={`/proyectos/${slug}`}>Ver proyecto</a>
</div>